section#s-1.s-1
          .s-1__img
            img(data-src='assets/img/webp/s-1-1.webp'  alt="img")  
          .s-1__text  armorstandartgear
          .s-1__img-1
              img(data-src='assets/img/webp/Ploter.webp')
          .s-1__title
            h1  Плоттеры для пленки нового поколения