
section#section-1.section-1
          img.section-1__img(data-src='assets/img/webp/s-1-1.webp'  alt="img")  
          .section-1__text  armorstandartgear
          .section-1__img-1
              img(data-src='assets/img/webp/Ploter.webp')
          .section-1__title
            h1  Плоттеры для пленки нового поколения











section#section-2.section-2
      .section-2__img
            img(src='assets/img/webp/s2.png')
      .section-2__body
          .section-2__title.title
            h2 Большой выбор устройств
          .section-2__text  
            p Более 12000 устройств доступны в базе 
            p Постоянное обновление модельного ряда
          
          img.section-2__icons(src='assets/img/webp/icons.webp', alt='img')

section#section-3.section-3
          img.section-3__img(src='assets/img/webp/s-3.webp')
          .section-3__body
              .section-3__title.title
                h2 
                  p Комплексное 
                  p решение для вашего 
                  p бизнеса 
              ul.section-3__text  
                li  
                  p Оптимизация складских
                  p  остатков.
                li  
                  p Покрытие 100% потребностей 
                  p клиентов.
                li  Минимизация брака.
                li  Контроль и аналитика продаж.

section#section-4.section-4
  
  img.section-4__img(src='assets/img/webp/lp-1.png')
  ul.section-4__body
              li.section-4__item  
                p  4X
                p  Ядерный процессор
          
              li.section-4__item  
                p  2X
                p  Скорость порезки
          
              li.section-4__item  
                p  0.1
                p  точность резки мм.
          

          

  .section-5
    .section-5__body
      .section-5__title.title 
        h2 
          p  Удобный 
          p  интерфейс
      .section-5__text  
        p  Сенсорный экран HD, простой в 
        p  эксплуатациии, не нужно 
        p  дополнительных приложений для 
        p  телефона, выбор модели с самого 
        p  плоттера


section#section-6.section-6
  .section-6__img
    img(src='assets/img/webp/lp-2-2.png')
  .section-6__body
    .section-6__title.title 
        h2  Универсальность
    .section-6__text
        p  Совместим с пленками любого <br> производителя. 
        p  Не имеет ограничений по порезам

     

  .section-7 
    .section-7__img
      img(src='assets/img/webp/lp-3.png')
    .section-7__body
      .section-7__title.title 
          h2 Защита 360&deg;
      .section-7__text  
        p Защитная пленка для задней и боковых
        p частей корпуса, линз.

    


section#section8.section8
      img.section8__img(src='assets/img/webp/i-7.png')
      .section8__body
          .section8__title.title  
            h2 Моддинг
          .section8__text  Покрытие на корпус - карбон, кожа, дерево, патерны, коллажи и другие виды текстур




section#section9.section9
      .section9__img
        img(src='assets/img/webp/i-8.png')
        .section9__prop  Clear
        .section9__prop  Anti-spy
        .section9__prop  Anti-blue

      .section9__body
          .section9__title.title  
            h2 Расходные материалы
          .section9__text  Доступны три вида пленки: Clear, Anti-Spy и Anti-Blu  
      .section9__items.section9-items
        .section9-items__title.title 
          h2 
            p Вы будете довольны 
            p качеством 
        ul.section9-items__grid
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-1.png', alt='img').section9-item__icon
            .section9-item__text
              span Автовосстановление после повреждений
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-2.png', alt='img').section9-item__icon
            .section9-item__text
              span Идеальная прозрачность
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-3.png', alt='img').section9-item__icon
            .section9-item__text 
              span Ультратонкая
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-4.png', alt='img').section9-item__icon
            .section9-item__text 
              span Простая установка
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-9.png', alt='img').section9-item__icon
            .section9-item__text 
              span Улучшенное олефобное покрытие
          li.section9-items__item.section9-item
            img(src='assets/img/webp/quolity/i-10.png', alt='img').section9-item__icon
            .section9-item__text 
              span Высокая прочность
 

section#section10.section10
      img.section10__img(src='assets/img/webp/last-bg.png')
      .section10__body
          .section10__title.title
            h2  
              p вы быстро 
              p привыкнете к 
              p нашему Сервису
          ul.section10__grid
            li.section10__item
              img(src='assets/img/webp/service/i-11.png', alt='img').section10-item__icon
              .section10-item__text
                  span Регулярное обновление базы моделей
            li.section10__item
              img(src='assets/img/webp/service/i-12.png', alt='img').section10-item__icon
              .section10-item__text
                  span Удаленное решение 99% проблем
            li.section10__item
              img(src='assets/img/webp/service/i-13.png', alt='img').section10-item__icon
              .section10-item__text
                  span Автоматическое обновление ПО
            li.section10__item
              img(src='assets/img/webp/service/i-14.png', alt='img').section10-item__icon
              .section10-item__text
                  span Полная информационная поддержка
            li.section10__item
              img(src='assets/img/webp/service/i-15.png', alt='img').section10-item__icon
              .section10-item__text
                  span Специальные условия для партнеров

section#contacts.contacts
  .form
    .inside
      .form-title
        | Заполни заявку, 
        br
        | и получи актуальные цены на модельный ряд
      .form-section
        .flex
          .item
            input(type='text' placeholder='Имя' name='name')
          .item
            input(type='text' placeholder='Телефон' name='phone')
          .item
            input(type='text' placeholder='E-mail' name='email')
        .form-captcha
          .g-recaptcha(data-sitekey='6Le9jt4ZAAAAAG6rhblOVTYx61gkB86bL_K-A8Ds')
          #recaptchaError.text-danger
        .button
          button Отправить
      .form-footer
        | Нажимая на кнопку, Вы даете согласие на обработку персональных данных 
        br
        | и соглашаетесь с 
        a(href='privacy-policy.html') Политикой конфиденциальности