
doctype html
html
  head
    title plotters
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='shortcut icon' href='assets/img/favicon.ico' type='image/ico')
  body
    div.wrapper
        //- .imgs
          img(data-src='assets/img/webp/bg.webp', alt='img')
        block header
        block content
        block footer